In [7]:
!ls /home/jarmo/GIS/peru-2019-05/tm-error/

6060-tasks-2.geojson  6061-tasks-1.geojson
/opt

In [1]:
import json
import geopandas as gpd
import matplotlib.pyplot as plt

df1 = gpd.read_file('/home/jarmo/GIS/peru-2019-05/tm-error/6062-tasks-1.geojson')
df2 = gpd.read_file('/home/jarmo/GIS/peru-2019-05/tm-error/6062-tasks-2.geojson')
plt.scatter(df.taskId, df.taskX)
plt.show()

NameError: name 'df' is not defined

In [14]:
df.head()

,taskId,taskIsSquare,taskStatus,taskX,taskY,taskZoom,geometry
0,303,True,MAPPED,60875,102004,18,(POLYGON ((-76.1145212479166 -5.91579565546631...
1,298,True,MAPPED,60874,102021,18,(POLYGON ((-76.1162277855548 -5.88693826439913...
2,155,True,MAPPED,60868,102018,18,"(POLYGON ((-76.1264670113834 -5.8920308542837,..."
3,371,True,MAPPED,60878,102007,18,"(POLYGON ((-76.1094016350023 -5.9107032839113,..."
4,161,False,MAPPED,60868,102024,18,(POLYGON ((-76.1264670113834 -5.88103941687373...

In [19]:
df1[df1.taskId == 416]

,taskId,taskIsSquare,taskStatus,taskX,taskY,taskZoom,geometry
268,416,True,READY,60880,102015,18,(POLYGON ((-76.1059885597261 -5.89712339745634...

In [4]:
df2[df2.taskZoom != 18]

,taskId,taskIsSquare,taskStatus,taskX,taskY,taskZoom,geometry
209,460,True,MAPPED,121760,204031,19,"(POLYGON ((-96.3940429514833 -37.020646428181,..."
213,461,True,MAPPED,121761,204030,19,(POLYGON ((-96.3933563059756 -37.0211946567447...
333,458,True,MAPPED,121757,204035,19,(POLYGON ((-96.3961028880064 -37.0184534743673...
334,455,True,MAPPED,121756,204034,19,(POLYGON ((-96.3967895335141 -37.0190017187545...
408,457,True,MAPPED,121757,204034,19,(POLYGON ((-96.3961028880064 -37.0190017187545...
446,459,True,MAPPED,121760,204030,19,(POLYGON ((-96.3940429514833 -37.0211946567447...
447,462,True,MAPPED,121761,204031,19,"(POLYGON ((-96.3933563059756 -37.020646428181,..."
449,456,True,MAPPED,121756,204035,19,(POLYGON ((-96.3967895335141 -37.0184534743673...

In [2]:
import json
import geopandas as gpd
import matplotlib.pyplot as plt

df1 = gpd.read_file('/home/jarmo/GIS/peru-2019-05/tm-error/6062-tasks-1.geojson')
df2 = gpd.read_file('/home/jarmo/GIS/peru-2019-05/tm-error/6062-tasks-2.geojson')


import split_service_debug as ss
task = df1[df1.taskId == 416]
task.columns = ['id','is_square','status','x','y','zoom','geometry']
task = task.iloc[0]
task.is_square
ss.SplitService._create_split_tasks(task.x,task.y,task.zoom, task)

unhandled error splitting tile: 'MultiPolygon' object has no attribute 'coordinates'